h1 {
  text-align: center;
}
#editorjs {
  border: thin solid silver;
  margin-bottom: 1rem;
}
main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
label {
  display: block;
  margin-bottom: 1rem;
  width: 30%;
}
label .text-input {
  margin-left: 1rem;
  display: block;
}
fieldset {
  margin-bottom: 1rem;
  border-color: canvas;
}
section {
  clear: both;
}
#initial button {
  display: block;
  margin: 1rem;
}
#editor {
  display: none;
}

#suneditor {
  width: 100%;
}
