h1 {
  text-align: center;
}
#editorjs {
  border: thin solid silver;
  margin-bottom: 1rem;
}
main {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}
label {
  display: block;
  margin-bottom: 1rem;
  width: 30%;
}
label .text-input {
  margin-left: 1rem;
  display: block;
}
fieldset {
  margin-bottom: 1rem;
  border-color: canvas;
}
section {
  clear: both;
}
#initial button {
  display: block;
  margin: 1rem;
}

#suneditor {
  width: 100%;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.sun-editor button > svg {
  height: 12px;
  width: 12px;
}

.sun-editor .se-btn {
  height: 30px;
  width: 30px;
}

.sun-editor .se-btn-tray {
  padding: 3px 2px 0%;
}
