main {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
label .text-input {
  margin-left: 1rem;
  display: block;
}
fieldset {
  margin-bottom: 1rem;
  border-color: canvas;
}
section {
  clear: both;
}
#initial button {
  display: block;
  margin: 1rem;
}

#suneditor {
  width: 100%;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.sun-editor button > svg {
  height: 12px;
  width: 12px;
}

.sun-editor .se-btn {
  height: 30px;
  width: 30px;
}

.sun-editor .se-btn-tray {
  padding: 3px 2px 0%;
}

#fileList {
  font-size: 14px;
  display: none;
}

#fileList.post-list,
#fileList.page-list,
#fileList.draft-post-list,
#fileList.draft-page-list {
  display: block;
}
#fileList.post-list details ul {
  margin-top: 3px;
}
#fileList.post-list details > details {
  margin-left: 1rem;
}

#fileList.post-list details p {
  margin-block-start: 3px;
  margin-block-end: 3px;
  margin-left: 1rem;
}

.editor-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

#title,
#categories,
#tags,
#author {
  width: 90%;
}

#main.select #select {
  display: block;
}
#main.select #editor {
  display: none;
}

#main.edit #select {
  display: none;
}
#main.edit #editor {
  display: block;
}

#editor.is-page #postExtra {
  display: none;
}
#editor.is-post #postExtra {
  display: block;
}

.error {
  visibility: hidden;
  font-size: x-small;
  color: red;
  margin-left: 2rem;
}
.invalid .error {
  visibility: visible;
}
.invalid input {
  border-color: red;
}
